body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

.main-container {
    max-width: 1120px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #6200EA;
    font-weight: bold;
}