.outward-line {
    display:block;
    position:absolute;
    left:50%;
    border-bottom:4px solid black;
    width:0%;
    text-align:center;
    // animation: outward-line 1s linear forwards;
    // animation-delay: 2s;
}

.resume-btn {
    padding: 15px;
    font-size: 15px;
    border: 1px #6200EA solid;
    color: #6200EA;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s background-color;

    &:hover {
        color: white;
        background-color: #6200EA;
        text-decoration: none;
    }
}